{% extends 'base.html' %}
{% load static %}
{% block title %} Détail du Document{% endblock title %}
{% block head_h1 %} Détail du Document {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Détail Document</a> {% endblock %}

{% block content %}
    <!-- Détails du document -->
    <div class="document-details">
        <h2>Nom du Document: <span id="doc-name">Contrat de Vente</span></h2>
        <p><strong>Demandeur:</strong> <span id="doc-owner">Papa Alain</span></p>
        <p><strong>Date de Création:</strong> <span id="doc-date">10-09-2024</span></p>
        <p><strong>Statut:</strong> <span id="doc-status">En attente</span></p>

        <!-- Autres informations spécifiques au document -->
        <p><strong>Description:</strong> Ce contrat de vente établit les termes et conditions régissant la transaction
            entre le vendeur et l'acheteur, garantissant ainsi la protection des droits de chaque partie.</p>

        <!-- Bouton pour retourner à la liste des documents -->
        <a href="notarier_document.html" class="btn-back">
            <i class='bx bx-left-arrow-alt'></i> Retour à la Liste
        </a>
    </div>
{% endblock content %}