{% extends 'base.html' %}
{% load static %}
{% block title %} Gérer - Document{% endblock title %}
{% block head_h1 %} Gérer Document {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Gérer Document</a> {% endblock %}

{% block content %}
    <br>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {% if message.tags %}message-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- INFO BOXES -->
    <ul class="box-info">
        <!-- Total des documents archivés -->
        <li>
            <i class='bx bxs-folder'></i>
            <span class="text">
                <h3>{{ total_archived }}</h3> <!-- Nombre de documents archivés dynamique -->
                <p>Documents Archivés</p>
            </span>
        </li>
    </ul>
    <!-- END INFO BOXES -->

    <!-- TABLEAU GESTION DOCUMENTS -->
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Gérer Documents</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Nom du document</th>
                    <th>Demandeur</th>
                    <th>Date de création</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.nom }}</td>
                        <td>{{ document.demandeur.username }}</td>
                        <td>{{ document.date|date:"d-m-Y" }}</td>
                        <td>
                            {% if document.statut == document.STATUT_PAYE %}
                                <span class="status-payee">{{ document.get_statut_display }}</span>
                            {% elif document.statut == document.STATUT_NOTARIE %}
                                <span class="status-notarier">{{ document.get_statut_display }}</span>
                            {% elif document.statut == document.STATUT_ATTENTE %}
                                <span class="status-attente">{{ document.get_statut_display }}</span>
                            {% else %}
                                <span class="status-archiver">{{ document.get_statut_display }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <!-- Formulaire pour modifier (seulement si non archivé) -->
                            {% if document.statut != document.STATUT_ARCHIVE %}
                                <form action="{% url 'notariat:modifier_document' document.id %}" method="get"
                                      style="display:inline;">
                                    <button type="submit" class="btn-modifier">Modifier</button>
                                </form>

                                <!-- Formulaire pour archiver (seulement si non archivé) -->
                                <form action="{% url 'notariat:archiver_document' document.id %}" method="get"
                                      style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="background-color: var(--red)">Archiver</button>
                                </form>
                            {% else %}
                                <!-- Si archivé, afficher le bouton "Voir" -->
                                <form action="{% url 'notariat:detail_document' document.id %}" method="get"
                                      style="display:inline;">
                                    <button type="submit" class="btn-voir">Voir</button>
                                </form>
                            {% endif %}

                            <!-- Formulaire pour supprimer (toujours disponible) -->
                            <form action="{% url 'notariat:supprimer_document' document.id %}" method="get"
                                  style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" style="background-color: var(--orange)">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
