{% extends 'base.html' %}
{% load static %}
{% block title %} Rapport - Document{% endblock title %}
{% block head_h1 %} Rapport des Paiements {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Rapport des Paiements</a> {% endblock %}
{% block lien_droit %}
<a href="{% url 'notariat:rapport_paiement_pdf' %}" class="btn-download">
    <i class='bx bxs-cloud-download'></i>
    <span class="text">Télécharger PDF</span>
</a>
{% endblock lien_droit %}
{% block content %}
    <!-- INFO BOXES -->
    <ul class="box-info">
        <!-- Total des paiements effectués -->
        <li>
            <i class='bx bxs-wallet'></i>
            <span class="text">
                <h3>${{ total_paiements }}</h3> <!-- Total des paiements collectés -->
                <p>Total Paiements Collectés</p>
            </span>
        </li>

        <!-- Documents payés -->
        <li>
            <i class='bx bxs-folder'></i>
            <span class="text">
                <h3>{{ documents_payes }}</h3> <!-- Nombre de documents payés -->
                <p>Documents Payés</p>
            </span>
        </li>

        <!-- Documents non payés -->
        <li>
            <i class='bx bxs-time'></i> <!-- Icône -->
            <span class="text">
                <h3>{{ documents_non_payes }}</h3> <!-- Nombre de documents non payés -->
                <p>Documents Non Payés</p>
            </span>
        </li>
    </ul>
    <!-- END INFO BOXES -->

    <!-- RAPPORT TABLE -->
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Historique des Paiements</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Nom du document</th>
                    <th>Demandeur</th>
                    <th>Date de paiement</th>
                    <th>Montant</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                {% for recu in recus %}
                <tr>
                    <td>{{ recu.document.nom }}</td>
                    <td>{{ recu.utilisateur.get_full_name }}</td>
                    <td>{{ recu.date_recu }}</td>
                    <td>${{ recu.montant }}</td>
                    <td><span class="status-payee">Payé</span></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
