{% extends 'base.html' %}
{% load static %}
{% block title %} Enregistrer - Document{% endblock title %}
{% block head_h1 %} Enregistrer document {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Enregistrer document</a> {% endblock %}
{% block lien_droit %}
    <a href="{% url 'notariat:add_demandeur' %}" class="btn-download">
        <i class='bx bx-user-plus'></i>
        <span class="text">Ajouter un demandeur</span>
    </a>
{% endblock lien_droit %}
{% block content %}
    <br>
    <!-- Afficher les messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {% if message.tags %}message-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="demandeur">Demandeur :</label>
                <select id="demandeur" name="demandeur" required>
                    {% for demandeur in demandeurs %}
                        <option value="{{ demandeur.id }}">{{ demandeur.first_name }} {{ demandeur.last_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="document_name">Nom du document :</label>
                <input type="text" id="document_name" name="document_name" required>
            </div>

            <div class="form-group">
                <label for="document_number">Numéro du document :</label>
                <input type="text" id="document_number" name="document_number" required>
            </div>

            <div class="form-group">
                <label for="document_type">Type de document :</label>
                <select id="document_type" name="document_type" required>
                    {% for value, label in TYPE_CHOICES %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="fichier">Télécharger un fichier :</label>
                <input type="file" id="fichier" name="fichier" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png">
            </div>

            <div class="form-group">
                <label for="description">Description :</label>
                <textarea id="description" name="description" rows="4"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn" style="width: 200px;">Enregistrer</button>
            </div>
        </form>
    </div>
{% endblock content %}
